/* ============================================= */
/*              Base styles                      */
/* ============================================= */

  * {
      font-family: 'Montserrat', sans-serif;
      color: $primary-text-color;
      box-sizing: border-box;
    }

  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */